/*
Author: Kevin Hyun
Creation Date: 20 June 2017
Project: MakeaWebPage Udacity
*/
body {
    background-color: powderblue;
}
.header {
    color: black;
    font-size: 50px;
}
.highlight {
  font-style: italic;
  font-size: 110%;
   color: orange;
}
.box {
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
}
.image {
  max-width: 30%;
  max-height: 30%;
}
.text {
  color: green;

  font-size: 25px;
}
p {
    background-color: black;
}
