/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes.*/
* {
   outline: 1px solid red !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
} 
